@font-face {
  font-family: 'alicon'; /* Project id 5108587 */
  src:
    url('//at.alicdn.com/t/c/font_5108587_zd14uvc6vp.woff2?t=1768208531074') format('woff2'),
    url('//at.alicdn.com/t/c/font_5108587_zd14uvc6vp.woff?t=1768208531074') format('woff'),
    url('//at.alicdn.com/t/c/font_5108587_zd14uvc6vp.ttf?t=1768208531074') format('truetype');
}
