@font-face {
  font-family: 'alicon'; /* Project id 5108587 */
  src:
    url('//at.alicdn.com/t/c/font_5108587_i1vwykp8gx9.woff2?t=1769420563532') format('woff2'),
    url('//at.alicdn.com/t/c/font_5108587_i1vwykp8gx9.woff?t=1769420563532') format('woff'),
    url('//at.alicdn.com/t/c/font_5108587_i1vwykp8gx9.ttf?t=1769420563532') format('truetype');
}

.alicon {
  font-family: 'alicon' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alicon.icon-xiazai:before {
  content: '\e606';
}

.alicon.icon-rotate:before {
  content: '\e615';
}

.alicon.icon-sousuo:before {
  content: '\e602';
}

.alicon.icon-jianhao:before {
  content: '\e729';
}

.alicon.icon-jiahao:before {
  content: '\eaf3';
}

.alicon.icon-shangye:before {
  content: '\e634';
}

.alicon.icon-xiaye:before {
  content: '\e638';
}

.alicon.icon-liangbiankuozhan:before {
  content: '\e90b';
}
